body {
     margin: auto;
     text-align: center;  
}

h1 {
    text-align: left;
    margin-left: 17px;
}

.banner {
    margin-top: 30px;
  
}
.page {
    margin: 20px;
    height: 700px;
    border: 1px solid black;
    overflow: auto;
    position: relative;    
}

.search-container {
    margin-top: 30px;  
    position: relative;
    
}

.logo {
    max-width: 36px;
    max-height: 36px;
    display: inline-block;
    float: right;
    margin-right: 20px;
}

.logo-container {
   max-width: 1480px;
   height: 80px;
   margin: auto; 
   position: relative;
   bottom: -40px;

}

.copyright {
    
    clear: both;
    position: absolute;
    left: 700px;
    bottom: 10px;
}










